#container {
    width: 100vw;
    height: 100vh;

}

.img-logo{
    border-radius: 300px;
    border: 1px solid #c9c9c9;
    padding: 5px;
    box-shadow: 1px 3px  1px 3px rgba(0, 0, 0, 0.8);
}

form , .listar{
    border: 1px black solid;
    border-radius: 20px;
    background: #bcbcbcb3;
    width: 600px;
}

.card-body {
    background: #ffffffa1;
    border-radius: 10px;
    margin-top: 20px;
}

.card-body p{
    font-size: 20px;
}

.chrismas {
    background: url("../../public/assets/imgs/bg-christmas.webp");
    background-size: cover;
    background-position: center;
}

.normal {

    background: url("../../public/assets/imgs/bg-normal.webp");
    background-size: cover;
    background-position: center;

}

/* Generar nieve */
.nieve {
    display: flex;
    position: absolute;
    top: 0;
}

.nieve span {
    position: relative;
    min-width: 5px;
    height: 5px;
    border-radius: 50%;
    background: #fff;
    margin: 0 1vw;
    box-shadow: -100px 20px 5px #fff, 100px 20px 10px #fff;
    animation: animacionNieve 25s linear infinite;
    animation-duration: calc(75s / var(--i));

}

.nieve span:nth-child(even) {
    min-width: 10px;
    height: 10px;
}

@keyframes animacionNieve {
    0% {
        transform: translateY(-10vh);
    }

    100% {
        transform: translateY(100vh);
    }
}