*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: url(https://cdn.custom-cursor.com/db/6026/32/harry-potter-alastor-moody-and-wand-cursor.png) , default !important;
    font-family: 'Harry Potter', sans-serif;
}
body{
    overflow: hidden;
}

